.header {
  &__status {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &__circle {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--color);
      margin-right: 8px;
      animation: bounce-in 2s ease infinite;
      @media screen and (min-width: 576px) {
        margin-right: 16px;
      }
    }
    & p {
      color: var(--color);
      text-overflow: ellipsis;
      font-family: $outfit;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &__link {
    font-size: 14px;
  }
}
