.landing {
  background-color: $color_background;
  &__carousel {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.sliders {
  height: calc(100% - 122px);
  width: 100%;
  position: relative;
  &__items {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    padding: 0 62px;
    justify-content: center;
    background-color: var(--color2);
    &--active {
      opacity: 1;
      pointer-events: auto;
      & h1.slide__title {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
      }
      & .sliders__items__image {
        transform: scale(1);
      }
    }
    @media screen and (min-width: 576px) {
      padding: 16px 32px;
    }
    @media screen and (min-width: 768px) {
      padding: 16px 42px;
    }
    @media screen and (min-width: 992px) {
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: repeat(7, 1fr);
      padding: 20px 52px;
    }
    @media screen and (min-width: 1224px) {
      padding: 20px 62px;
    }
    &__image {
      height: auto;
      width: 85vw;
      max-width: 520px;
      object-fit: contain;
      object-position: center;
      transform: scale(1.1);
      transition: transform 0.8s ease, opacity 0.5s ease;
      opacity: 0;
      z-index: 2;
      position: relative;
      @media screen and (min-width: 992px) {
        width: 30vw;
      }
      &--loaded {
        opacity: 1;
      }
      &--unavailable {
        filter: blur(6px);
      }
    }
    &__thumbs {
      &__1 {
        display: none;
        @media screen and (min-width: 992px) {
          grid-area: 3 / 8 / 6 / 12;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 4;
        }
      }
      &__2 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10vh;
        @media screen and (min-width: 992px) {
          grid-area: 2 / 8 / 5 / 12;
          margin-bottom: 0vh;
        }
      }
      &__3 {
        display: none;
        @media screen and (min-width: 992px) {
          grid-area: 3 / 1 / 6 / 5;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &__4 {
        display: none;
        @media screen and (min-width: 992px) {
          grid-area: 4 / 1 / 7 / 5;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
      &__5 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @media screen and (min-width: 992px) {
          grid-area: 4 / 5 / 5 / 8;
        }
      }
      &__6 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        &--unavailable {
          pointer-events: none;
        }
        @media screen and (min-width: 992px) {
          grid-area: 6 / 5 / 7 / 8;
        }
      }
    }
  }
}

.sliders__items {
  & h1 {
    font-family: $tuskerGrotesk;
    font-size: min(12vw, 72px);
    text-transform: uppercase;
    color: var(--color);
    opacity: 0;
    transform: translateY(100%);
    text-align: center;
    @media screen and (min-width: 992px) {
      font-size: 4.5vw;
    }
  }
  & a {
    font-family: $rivalSans;
    font-weight: $bold;
    font-size: 14px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--color);
    text-align: center;
    &:hover {
      text-decoration-line: none;
      opacity: 0.7;
    }
  }
}

.controls {
  height: auto;
  // width: 90%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 22px;
  max-width: 500px;
  padding: 0 16px;
  @media screen and (min-width: 576px) {
    padding: 0 32px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 42px;
    max-width: 700px;
    // width: 100%;
  }
  @media screen and (min-width: 992px) {
    padding: 0 52px;
  }
  @media screen and (min-width: 1224px) {
    padding: 0 62px;
  }
  &__button {
    background: none;
    cursor: pointer;
    &--right {
      transform: rotate(180deg);
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    overflow: hidden;
  }
}

.controls__container {
  &__thumbs {
    height: auto;
    // min-width: calc(100% / 3 - (8px));
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
    padding: 4px 0;
    & img {
      max-height: 15px;
    }
    // @media screen and (min-width: 768px) {
      width: 100%;
      max-width: 80px;
      height: 30px;
      min-width: initial;
    // }
    &--active {
      opacity: 1;
    }
  }
}