.landing {
  overflow: hidden;
  background-color: $color_background;
  &__carousel {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.sliders {
  height: calc(100%);
  width: 100%;
  position: relative;
  &__items {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    padding: 0 5.5vw;
    justify-content: center;
    background-color: var(--color2);

    @media screen and (min-width: 576px) {
      padding: 16px 5.5vw;
    }
    @media screen and (min-width: 768px) {
      padding: 16px 5.5vw;
    }
    @media screen and (min-width: 992px) {
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: repeat(7, 1fr);
      padding: 20px 5.5vw;
    }
    @media screen and (min-width: 1224px) {
      padding: 20px 5.5vw;
    }
    &__image {
      height: auto;
      width: 85vw;
      max-width: 520px;
      object-fit: contain;
      object-position: center;
      transform: scale(1.1);
      transition: transform 0.8s ease, opacity 0.5s ease;
      opacity: 0;
      z-index: 2;
      position: relative;
      @media screen and (min-width: 992px) {
        width: 30vw;
      }
      &--loaded {
        opacity: 1;
      }
    }
    &__thumbs {
      aspect-ratio: 16/9;
      // &__content {
      //   height: 100%;
      //   width: 100%;
      // }
      &__1 {
        display: none;
        @media screen and (min-width: 992px) {
          grid-area: 3 / 8 / 6 / 12;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 4;
        }
      }
      &__2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
        @media screen and (min-width: 992px) {
          grid-area: 2 / 8 / 5 / 12;
          margin-bottom: 0vh;
          justify-content: flex-end;
        }
      }
      &__3 {
        display: none;
        @media screen and (min-width: 992px) {
          grid-area: 3 / 1 / 6 / 5;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &__4 {
        display: none;
        @media screen and (min-width: 992px) {
          grid-area: 4 / 1 / 7 / 5;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
      &__5 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 44px;
        @media screen and (min-width: 992px) {
          grid-area: 4 / 5 / 5 / 8;
        }
      }
      &__6 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        &--unavailable {
          pointer-events: none;
        }
        @media screen and (min-width: 992px) {
          grid-area: 6 / 5 / 7 / 8;
        }
        & a {
          display: block;
          font-family: $outfit;
          font-weight: $bold;
          font-size: 14px;
          text-decoration-line: underline;
          text-transform: uppercase;
          color: var(--color);
          text-align: center;
          transform: translateY(100%);
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          transition-delay: 0.3s;
          &:hover {
            text-decoration-line: none;
            opacity: 0.7;
          }
        }
      }
      &__7 {
        grid-area: 7/1/7/3;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
      }
      &__8 {
        grid-area: 7/12/7/10;
        height: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
      }
      &__7,
      &__8 {
        row-gap: 0.3vw;
        display: none;
        @media screen and (min-width: 1224px) {
          display: flex;
        }
        & h3 {
          color: var(--color);
          font-family: Tusker Grotesk;
          font-size: 14px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          letter-spacing: 0.7px;
          text-transform: uppercase;
          transform: translateY(100%);
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          transition-delay: 0.1s;
        }
        & p {
          color: var(--color);
          font-family: "Outfit", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          transform: translateY(100%);
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          transition-delay: 0.2s;
        }
      }
    }
  }
}

.sliders__items {
  &--active {
    opacity: 1;
    pointer-events: auto;
    & h1.slide__title div {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.3s ease-in-out,
        transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      transition-delay: calc(var(--index) * 0.05s);
    }
    & .sliders__items__image {
      transform: scale(1);
    }
    & .sliders__items__thumbs__8,
    .sliders__items__thumbs__7 {
      h3,
      p {
        transform: translateY(0);
      }
    }
    & .sliders__items__thumbs__6 a {
      transform: translateY(0);
    }
  }
  & h1 {
    display: flex;
    column-gap: clamp(10px, 1vw, 18px);
    font-family: $tuskerGrotesk;
    font-size: min(12vw, 72px);
    text-transform: uppercase;
    color: var(--color);
    & div {
      opacity: 0;
      transform: translateY(100%);
    }
    text-align: center;
    @media screen and (min-width: 992px) {
      font-size: 4.5vw;
    }
  }
}

.controls {
  position: fixed;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  height: auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 22px;
  max-width: 500px;
  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 700px;
  }
  @media screen and (min-width: 1224px) {
    bottom: 22px;
  }
  &__button {
    background: none;
    cursor: pointer;
    &--right {
      transform: rotate(180deg);
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    overflow: hidden;
  }
}

.controls__container {
  &__thumbs {
    height: auto;
    // min-width: calc(100% / 3 - (8px));
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
    padding: 4px 0;
    & img {
      max-height: 15px;
    }
    // @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 80px;
    height: 30px;
    min-width: initial;
    // }
    &--active {
      opacity: 1;
    }
  }
}
