$safe_area_inset_top: env(safe-area-inset-top);

// Fonts //

$outfit: "Outfit", sans-serif;
$tuskerGrotesk : "Tusker Grotesk";
$regular: 400;
$medium: 500;
$bold: 700;

// Colors //

$color_primary: var(--color);
$color_secondary: var(--color2);
$color_background: #fffde8;
// $color_background: #fffde8;
$paragraph_color: var(--paragraph);
