$safe_area_inset_top: env(safe-area-inset-top);

// Fonts //

$sirenia: sirenia, sans-serif;
$rivalSans: rival-sans, sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

// Colors //

$color_primary: var(--color);
$color_secondary: var(--color2);
