.projects__about {
  &__body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 52px;
    @media screen and (min-width: 576px) {
      margin-top: 62px;
    }
    @media screen and (min-width: 768px) {
      margin-top: 88px;
    }
    @media screen and (min-width: 992px) {
      justify-content: space-around;
    }
    &__inner {
      position: relative;
      height: fit-content;
      overflow: hidden;
      width: 50%;
      max-width: 385px;
      max-height: 481px;
      &:first-child {
        transform: translateX(-16px);
        // width: 60vw;
      }
      &:last-child {
        transform: translateY(120px) translateX(16px);
        // width: 70vw;
      }
      &--loaded {
        & img {
          transform: scale(1);
        }
      }
      &__image {
        position: relative;
        z-index: 2;
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}
