.projects__branding {
  width: 100%;
  margin-top: 62px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  &__image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px 0;
    & img {
      width: 60vw;
      max-width: 300px;
    }
  }
  &__details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & p {
      font-family: $rivalSans;
      line-height: $p_line_height;
      font-size: 14px;
      color: $paragraph_color;
      font-weight: $regular;
    }
  }
}
