.projects {
  &__content {
    min-height: 1000px;
    padding: 62px 26px;
    overflow: hidden;
    color: $color_primary;
    @media screen and (min-width: 576px) {
      padding: 44px 32px;
    }
    @media screen and (min-width: 768px) {
      padding: 44px 42px;
    }
    @media screen and (min-width: 992px) {
      padding: 44px 52px;
    }
    @media screen and (min-width: 1224px) {
      padding: 44px 62px;
    }
  }
  &__subtitle {
    display: inline-flex;
    align-items: baseline;
    overflow: hidden;
    & h4 {
      font-family: $tuskerGrotesk;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      font-size: 12px;
      margin-left: 8px;
    }
  }
  &__title {
    font-family: $tuskerGrotesk;
    text-transform: uppercase;
    font-size: 44px;
    max-width: 300px;
    line-height: 120%;
    // letter-spacing: 0.03em;
    margin: 16px 0 22px;
    overflow: hidden;
  }
  &__description {
    font-family: $rivalSans;
    font-weight: $regular;
    font-size: 14px;
    color: $paragraph_color;
    max-width: 400px;
    line-height: $p_line_height;
    @media screen and (min-width: 576px) {
      max-width: 500px;
    }
    @media screen and (min-width: 768px) {
      max-width: 600px;
    }
  }
}


