.projects {
  &__content {
    min-height: 1000px;
    padding: 62px 26px;
    overflow: hidden;
    color: $color_primary;
    @media screen and (min-width: 576px) {
      padding: 44px 32px;
    }
    @media screen and (min-width: 768px) {
      padding: 44px 42px;
    }
    @media screen and (min-width: 992px) {
      padding: 44px 52px;
    }
    @media screen and (min-width: 1224px) {
      padding: 44px 62px;
    }
  }
  &__subtitle {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-start;
    overflow: hidden;
    & h4 {
      display: flex;
      font-family: $tuskerGrotesk;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      margin-left: 16px;
      width: fit-content;
      font-size: clamp(14px, 1.5vw, 18px);
      column-gap: 2px;
      @media screen and (min-width: 992px) {
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        margin-left: 22px;
      }
    }
  }
  &__title {
    font-family: $tuskerGrotesk;
    text-transform: uppercase;
    font-size: clamp(44px, 6vw, 74px);
    line-height: 120%;
    margin: 16px 0 22px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
  }
  &__description {
    font-size: min(1.7vw, 20px);
    font-family: $rivalSans;
    font-weight: $medium;
    color: $paragraph_color;
    @media screen and (max-width: 992px) {
      font-size: max(2vw, 15px);
    }
  }
}
