.projects__view {
  margin-top: 202px;
  &__head {
    @media screen and (min-width: 992px) {
      display: grid;
      grid-template-columns: 0.4fr repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: fit-content;
      & > :first-child {
        grid-area: 2 / 1 / 3 / 2;
        padding-top: 8px;
        & h4 {
          text-align: right;
        }
      }
      & > :nth-child(2) {
        grid-area: 1 / 2 / 2 / 5;
        padding-left: min(3vw, 45px);
      }
      & > :nth-child(3) {
        grid-area: 2 / 2 / 4 / 5;
        padding-left: min(3vw, 45px);
      }
    }
  }
  &__slideshow {
    width: 100%;
    margin-top: 44px;
    @media screen and (min-width: 576px) {
      margin-top: 62px;
    }
    @media screen and (min-width: 768px) {
      margin-top: 144px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
