.projects {
  // padding-bottom: 44px;
  &__landing {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 122px 26px;
    color: $color_secondary;
    background-color: $color_primary;
    @media screen and (min-width: 576px) {
      align-items: center;
      padding: 188px 32px 144px;
    }
    @media screen and (min-width: 768px) {
      padding: 204px 32px 188px;
    }
  }
  &__content {
    min-height: 1000px;
    padding: 62px 26px;
    overflow: hidden;
    color: $color_primary;
    @media screen and (min-width: 576px) {
      padding: 44px 32px;
    }
    @media screen and (min-width: 768px) {
      padding: 44px 42px;
    }
    @media screen and (min-width: 992px) {
      padding: 44px 52px;
    }
    @media screen and (min-width: 1224px) {
      padding: 44px 62px;
    }
  }
  &__about {
    &__images {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 52px;
      @media screen and (min-width: 576px) {
        margin-top: 62px;
      }
      @media screen and (min-width: 768px) {
        margin-top: 88px;
      }
      @media screen and (min-width: 992px) {
        justify-content: space-around;
      }
      &__inner {
        position: relative;
        height: fit-content;
        overflow: hidden;
        &:first-child {
          transform: translateX(-20px);
          width: 60vw;
          max-width: 385px;
          max-height: 481px;
        }
        &:last-child {
          transform: translateY(120px) translateX(20px);
          width: 70vw;
          max-width: 385px;
          max-height: 481px;
        }
        & img {
          position: relative;
          z-index: 2;
          height: auto;
          object-fit: cover;
          object-position: center;
          transform: scale(1.2);
        }
      }
    }
  }
  &__view {
    margin-top: 202px;
    &__slideshow {
      width: 100%;
      margin-top: 44px;
      @media screen and (min-width: 576px) {
        margin-top: 62px;
      }
      @media screen and (min-width: 768px) {
        margin-top: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__typography {
    margin-top: 88px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    &__subtitle {
      display: inline-flex;
      align-items: center;
      overflow: hidden;
      margin-bottom: 16px;
      & h4 {
        font-family: $rivalSans;
        font-weight: $medium;
        font-size: 12px;
        margin-left: 8px;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__inner {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      column-gap: 32px;
    }
    &__details {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      font-size: 14px;
      row-gap: 12px;
    }
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      padding: 44px 0;
    }
    &__vector {
      max-width: 200px;
      width: 50vw;
      height: auto;
      @media screen and (min-width: 576px) {
        max-width: 230px;
      }
      &__nocta {
        width: 70vw;
        max-width: 300px;
      }
      &__ab-distribution {
        width: 60vw;
      }
      &__muteza,
      &__galleria {
        max-height: 35px;
      }
    }
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      column-gap: 22px;
      & p:last-child {
        color: $paragraph_color;
        text-transform: initial;
        text-align: end;
        font-weight: $regular;
      }
    }
    &__circles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      row-gap: 6px;
      position: absolute;
      right: 0;
    }
    &__button {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--placeholder);
      cursor: pointer;
      &--active {
        background-color: var(--color);
      }
    }
  }
  &__branding {
    width: 100%;
    margin-top: 62px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    &__image {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 44px 0;
      & img {
        width: 60vw;
        max-width: 300px;
      }
    }
    &__details {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & p {
        font-family: $rivalSans;
        line-height: $p_line_height;
        font-size: 14px;
        color: $paragraph_color;
        font-weight: $regular;
      }
    }
  }
  &__subtitle {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    & h4 {
      font-family: $rivalSans;
      font-weight: $medium;
      font-size: 12px;
      margin-left: 8px;
    }
  }
  &__title {
    font-family: $sirenia;
    font-weight: $medium;
    font-size: 44px;
    max-width: 300px;
    line-height: 44px;
    margin: 16px 0 22px;
    overflow: hidden;
  }
  &__description {
    font-family: $rivalSans;
    font-weight: $regular;
    font-size: 14px;
    color: $paragraph_color;
    max-width: 400px;
    line-height: $p_line_height;
  }
  &__next {
    width: 100%;
    padding: 26px 0;
    background-color: var(--color);
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      & h1 {
        font-family: $sirenia;
        font-weight: $medium;
        font-size: 44px;
        line-height: 44px;
        margin-left: 8px;
        color: var(--color2);
      }
    }
  }
  &__bar {
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
    background-color: var(--color);
  }
}

.landing {
  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 44px;
    column-gap: 22px;
    row-gap: 32px;
    @media screen and (min-width: 576px) {
      display: inline-flex;
      justify-content: space-evenly;
      max-width: 1200px;
      margin-top: 62px;
    }
  }
  &__item {
    grid-area: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    &__inner {
      display: flex;
      flex-direction: column;
      width: fit-content;
      & h4 {
        font-size: 14px;
        font-weight: $medium;
        font-family: $rivalSans;
        text-transform: uppercase;
      }
      & p {
        text-align: start;
        font-size: 14px;
        font-weight: $regular;
        font-family: $rivalSans;
        max-width: 100px;
        @media screen and (min-width: 992px) {
          max-width: 400px;
        }
      }
    }
  }
  &__title {
    font-size: 52px;
    font-weight: $medium;
    font-family: $sirenia;
  }
  &__link {
    position: relative;
    font-size: 14px;
    font-weight: $medium;
    font-family: $rivalSans;
    text-transform: uppercase;
    margin-top: 32px;
    color: $color_secondary;
    @media screen and (min-width: 576px) {
      margin-top: 88px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $color_secondary;
      transition: width 0.3s ease-in-out;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.slideshow {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 26px;
    @media screen and (min-width: 576px) {
      flex-direction: row;
      column-gap: 22px;
    }
    @media screen and (min-width: 768px) {
      width: 80%;
    }
  }
  &__banner {
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    @media screen and (min-width: 576px) {
      width: 90%;
    }
    &__image {
      height: auto;
      min-width: 100%;
      object-fit: cover;
      object-position: center;
      transition: clip-path 0.5s ease-in-out;
      @media screen and (min-width: 576px) {
        min-width: calc((100vw - 10%) - 148px);
      }
      @media screen and (min-width: 768px) {
        max-width: 300px;
        min-width: calc((80vw - 10%) - 148px);
      }
    }
  }
  &__list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    position: relative;
    @media screen and (min-width: 576px) {
      width: 10%;
      flex-direction: column;
      row-gap: 12px;
    }
    @media screen and (min-width: 992px) {
      row-gap: 22px;
    }
    &__border {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      border: 1px solid $color_primary;
      z-index: 2;
      flex: 1;
      transition: transform 0.5s ease-in-out;
      transform: translateX(var(--borderTranslateX));
      height: 100%;
      width: var(--thubnailsWidth);
      @media screen and (min-width: 576px) {
        transform: translateY(var(--borderTranslateY));
        height: var(--thubnailsHeight);
        width: 100%;
        max-width: 70px;
      }
    }
  }
  &__thubnails {
    position: static;
    z-index: 1;
    display: block;
    overflow: visible;
    min-height: 40px;
    flex: 1;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
    background-position: 50% 90%;
    background-size: cover;
    background-repeat: repeat;
    object-fit: fill;
    cursor: pointer;
    max-width: 70px;
  }
}
